.input-dropdown-sm {
    input {
        height: 31px !important;
    }
    button {
        display: flex;
        align-items: center;
        height: 31px;
    }
}

.pointer {
    cursor: pointer;
}