<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <h1 class="fs-5">Welcome to AdderComps <span class="fs-6">v0.1</span></h1>
      <!-- * This is for mobile view (burger menu) -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-5" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Ingresar componente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/search" routerLinkActive="active">Buscar componentes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/home/assistence" routerLinkActive="active">Solicitar asistencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" routerLink="/">Salir</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<div class="container pt-4 pe-4">
    <router-outlet></router-outlet>
</div>

<footer class="fixed-bottom">
    <div class="navbar navbar-light bg-light">
        <div class="container-fluid d-flex justify-content-center">
            <p class="fw-bold">KWC © 2022</p>
        </div>
    </div>
</footer>
