
<div class="row">
    <div class="col-md-12 d-flex justify-content-center align-items-center mt-5">
        <div class="card form-login">
            <div class="card-body">
                <h5 class="card-title">Bienvenido a AdderComps <span class="fs-6">v0.1</span></h5>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">ID</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                    </div>
                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                    <button class="btn btn-primary" routerLink="/home">Ingresar</button>
            </div>
          </div>
    </div>
</div>