/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
    cursor: pointer;
}

.select-dropdown-sm {
    height: 31px;
    padding-top: 2px;
    padding-bottom: 4px;
}