<div class="row">
    <div class="col-md-12 d-flex justify-content-between">
        <h2>Buscar componente</h2>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar un componente" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
          </form>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Código producto</th>
                <th scope="col">Tipo</th>
                <th scope="col">Consumo (W)</th>
                <th scope="col">Marca</th>
                <th scope="col">Url Imagen</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let component of componentList">
                <th>{{component.title}}</th>
                <td>{{component.nameProduct}}</td>
                <td>{{component.code}}</td>
                <td>{{component.type}}</td>
                <td>{{component.power}} W</td>
                <td>{{component.brand}}</td>
                <td> <a href="{{component.urlImage}}" target="_blank">IMG</a> </td>
                <td>
                    <!-- <button class="btn">
                        <i class="bi bi-pencil"></i>
                    </button> -->
                    <button class="btn" (click)="deleteComponent(component)">
                        <i class="bi bi-trash3 text-danger"></i>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>